
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');

/* LOGO Y DESCRIPCION - escena1*/

.fondo{
    padding: 20px;
    background: linear-gradient(#4807a9,#363ABF);
}

.link{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 56px;
    display: flex;
    justify-content: center;   
}

.cont-texto{
    display:flex;
    justify-content: center;
    padding: 0px 50px;
    align-items: center;
    
}

.entrada {
    color: rgb(255, 255, 255);
    font-family: "Fuzzy Bubbles", sans-serif;
    font-style: normal;
    font-size: 20px; 
    text-align: center;
    padding: 0 20px; 
}

/* Ajustes para pantallas de tamaño medio */
@media (min-width: 768px) {
    .entrada {
        font-size: 20px; /* Tamaño de fuente ligeramente aumentado para pantallas medianas */
        padding: 0 100px; /* Espaciado ligeramente aumentado para pantallas medianas */
    }
}




/* menú - escena2*/
a-scene {
    position: relative;
    z-index: 0;  
}

.contenedor{
    position: fixed;
    bottom: 50px;
    left: 50px;
    z-index: 10;
}


a-scene img
{
  display:flex;
  width: 100px;
}

.menu{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    text-decoration:none;
}

/* menú - escena3*/
.contenido {
    color:black;
}

.modal-content {
    backdrop-filter: blur(5px); /* Agrega el efecto de desenfoque al modal */
    background-color: #ffffff62
}

.enlace{
    color:white;
    text-decoration: none;
    font-family: "Fuzzy Bubbles", sans-serif;
}