body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.a-enter-vr-button {
    display: none;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Estilos para el logogatitos */
.logogatitos {
    position: fixed;
    top: 20px; /* Ajusta este valor según sea necesario */
    left: 20px; /* Ajusta este valor según sea necesario */
}

/* Estilos para el logojuego */
.logojuego {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Estilos para el botón play */
.play {
    position: fixed;
    top: calc(70% + 40px); /* Ajusta la distancia del botón play al logojuego según sea necesario */
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

/* Estilos para el cangrejo */
.cangrejo {
    position: fixed;
    bottom: 0; /* Alineado con la parte inferior */
    left: 0; /* Alineado con la parte izquierda */
    width: 15%; /* Ajustar al tamaño deseado */
    height: auto; /* Para mantener la proporción de la imagen */
    z-index: 1;
}

.pezazul {
    
    bottom: 0; /* Alineado con la parte inferior */
    right: -5%; /* Alineado con la parte izquierda */
    width: 30%; /* Ajustar al tamaño deseado */
    height: auto; /* Para mantener la proporción de la imagen */
    z-index: 2;
}

.botella {
    position: fixed;
    bottom: 70%; /* Alineado con la parte inferior */
    right: 50%; /* Alineado con la parte izquierda */
    width: 25%; /* Ajustar al tamaño deseado */
    height: auto; /* Para mantener la proporción de la imagen */
    z-index: -1;
}

#mapa-container {
    position: relative;
    width: 100%;
    height: 300px; /* Altura del contenedor del mapa */
    overflow: hidden; /* Oculta cualquier parte del mapa que esté fuera del contenedor */
}
.atlantico:target ~ #mapa-container .mapa {
    transform: translateX(-100px) translateY(-100px); /* Mueve el mapa a la posición deseada */
}
.
.mapa {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* Ajustar al tamaño deseado */
    height: auto; /* Para mantener la proporción de la imagen */
    z-index: -3:
}


.logojuegopeque {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 30%; /* El logo será el 20% del tamaño */
    height: auto; /* Para mantener la proporción de la imagen */
}

.pezazulmapa {
    position: fixed;
    bottom: 0; /* Alineado con la parte inferior */
    right: -5%; /* Alineado con la parte izquierda */
    width: 25%; /* Ajustar al tamaño deseado */
    height: auto; /* Para mantener la proporción de la imagen */
    z-index: 1;
}

.cangrejomapa {
    position: fixed;
    top: 0; /* Alineado con la parte inferior */
    right: 50%; /* Alineado con la parte izquierda */
    width: 10%; /* Ajustar al tamaño deseado */
    height: auto; /* Para mantener la proporción de la imagen */
    z-index: 1;
}

.estrella {
    position: fixed;
    bottom: 0; /* Alineado con la parte inferior */
    left: -10%; /* Alineado con la parte izquierda */
    width: 30%; /* Ajustar al tamaño deseado */
    height: auto; /* Para mantener la proporción de la imagen */
    z-index: 1;
}

.oceanomares {
    z-index: -3;
}

@font-face {
    font-family: 'Belfast'; /* Nombre de la fuente Belfast */
    src: url('fonts/TextFonts.net_belfast-grotesk-font-family/Belfast Grotesk Bold.ttf') 
    format('truetype'); /* Ruta de la fuente y formato */
}
/* Estilos para los botones del mapa */
.textobotonesmapa {
    position:relative;
    font-family: 'Belfast', sans-serif; /* Utilizar la tipografía Belfast */
    color: #da4f58; /* Color inicial del texto */
    text-decoration:none; /* Eliminar subrayado del enlace */
    font-size:170%;
    text-align: center;
    
    
}

.textobotonesmapa:hover {
    color: #51ff21; /* Cambiar color al pasar el ratón */
   
}
